<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista de Clientes</title>
</head>
<style>
    body{
        background-color: rgb(189, 147, 249);
        position: relative;
        text-align: center;
    }
    div{
        border: 3px solid rgb(0, 0, 0);
        background-color: rgb(0, 255, 255,30%);
        margin-left: 35%;
        margin-right: 35%;
        margin-bottom: 10px;
    }
</style>
<body>
    <a href="menu.html"><h1>MENUUUUU</h1></a>
    <h1>Lista de Clientes</h1>
    <% clientes.forEach(function(cliente) { %>
        <div>
        <p>Nome: <%= cliente.nome %></p>
        <p>CPF: <%= cliente.cpf %></p>
        <p>Email: <%= cliente.email %></p>
        <p>Telefone: <%= cliente.telefone %></p>
        <p>Fidelidade: <%= cliente.fidelidade %></p>
        </div>
    <% }); %>
</body>
</html>
