<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <% clientes.forEach(function(cliente) { %>
        <p>Nome: <%= cliente.nome %></p>
        <p>CPF: <%= cliente.cpf %></p>
        <p>Email: <%= cliente.email %></p>
        <p>Telefone: <%= cliente.telefone %></p>
        <p>Fidelidade: <%= cliente.fidelidade %></p>
        <hr>
    <% }); %>
</body>
</html>
